{% load static %}

{% block content %}
<style>
body {
    background-color: #c4c4c4;

}

#cupcakes {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    ang
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: #07d2ff;
    text-shadow: 0px 0px 0 rgb(2,205,250),
                 1px 1px 0 rgb(-3,200,245),
                 2px 2px 0 rgb(-8,195,240),
                 3px 3px 0 rgb(-13,190,235),
                 4px 4px 0 rgb(-18,185,230),
                 5px 5px 0 rgb(-23,180,225),
                 6px 6px 0 rgb(-28,175,220),
                 {#7px 7px 0 rgb(-33,170,215),#}
                 {#8px 8px 0 rgb(-38,165,210),#}
                 {#9px 9px 0 rgb(-43,160,205),#}
                 {#10px 10px  0 rgb(-48,155,200),#}
                 {#11px 11px 10px rgba(0,0,0,0.6),#}
                 {#11px 11px 1px rgba(0,0,0,0.5),#}
                 {#0px 0px 10px rgba(0,0,0,.2);#}
                 {#7px 7px 0 rgb(106,16,195),#}
                 {#8px 8px 0 rgb(101,11,190),#}
                 {#9px 9px 0 rgb(96,6,185),#}
                 {#10px 10px  0 rgb(91,1,180),#}
                 {#11px 11px 10px rgba(0,0,0,0.6),#}
                 {#11px 11px 1px rgba(0,0,0,0.5),#}
                 {#0px 0px 10px rgba(0,0,0,.2);#}
    {#1px 18px 6px rgba(16,16,16,0.4),#}
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

</style>

<span class="text" id="cupcakes">Cupcakes</span>


{% endblock content %}