{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}
    <style>
        body {
            background: linear-gradient(to right top, #EEC290 25%, #F0E7B1 45%, #F0B1EE 55%, #C7A4E4 94%);
        }

        #first-box {
            margin-top: 40px;
            margin-left: 650px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 1rem;
            font-size: larger;
            font-family: cursive;
            text-align: center;
            line-height: 1;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            padding: 40px 40px;
            box-shadow: 0 5px 10px rgba(127, 63, 191, 0.7);
        }

        #text-card1 {
            color: #7229C5;
            text-shadow: 0px 0px 0 rgb(226, 161, 105),
            0px -1px 0 rgb(216, 151, 95),
            0px -2px 0 rgb(206, 141, 85),
            0px 0px 12px rgba(0, 0, 0, .2);
            border-radius: 2rem;
            box-shadow: 0 5px 10px rgba(127, 63, 191, 0.7);
            font-family: sans-serif;
            text-align: center;
            line-height: 1;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            align-items: center;
            padding-top: 20px;
            margin-top: 30px;
        }

        #myorders {

            text-shadow: 0px 0px 0 rgb(226, 161, 105),
            0px -1px 0 rgb(216, 151, 95),
            0px -2px 0 rgb(206, 141, 85),
            0px 0px 12px rgba(0, 0, 0, .2);
font-size: 25px;
            font-family: sans-serif;
            text-align: center;
            line-height: 1;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            align-items: center;
            color: #7229C5;

        }
#myaddress{
    font-size: 25px;
    color: #7229C5;

}

    </style>
    <div class="container">
        <div id="first-box" class="row align-items ">

            <div class="col-md-12">
                <div id="text-card1" class="h-90 p-5 ">

                    <h3> My account </h3>
                    <h2> Welcome Ela !</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div id="text-card1" class="h-90 p-5 ">

                    <a id="myaddress" class="btn ">  My address  <i class="far fa-address-card" ></i></a>

            </div>
        </div>
        <div class="col-md-6">
            <div id="text-card1" class="h-90 p-5 ">
                <a id="myorders" href="{% url 'store:cart_summary' %}" class="btn  " type="button"
                   role="button"My orders>
                    <span class="button">My orders </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                          viewBox="0 0 16 16">
                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                    </svg>

                </a>
            </div>
        </div>
    </div>


{% endblock content %}