{% load static %}

{% block content %}
<style>
body {
    background-color: #c4c4c4;

}

#icecream {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    ang
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: #ffb507;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(250,176,2),
                 1px 1px 0 rgb(245,171,0),
                 2px 2px 0 rgb(240,166,0),
                 3px 3px 0 rgb(235,161,0),
                 4px 4px 0 rgb(230,156,0),
                 5px 5px 0 rgb(225,151,0),
                 6px 6px 0 rgb(220,146,0),
                 {#7px 7px 0 rgb(215,141,0),#}
                 {#8px 8px 0 rgb(210,136,0),#}
                 {#9px 9px 0 rgb(205,131,0),#}
                 {#10px 10px  0 rgb(200,126,0),#}
                 {#11px 11px 10px rgba(0,0,0,0.6),#}
                 {#11px 11px 1px rgba(0,0,0,0.5),#}
                 {#0px 0px 10px rgba(0,0,0,.2);#}
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

</style>

<span class="text" id="icecream">Ice Cream</span>


{% endblock content %}