
{% load static %}


{% block content %}
{#<style>.navbar-scroll .nav-link,#}
{#.navbar-scroll .navbar-toggler-icon,#}
{#.navbar-scroll .navbar-brand {#}
{#  color: #fff;#}
{#}#}
{##}
{#/* Color of the links AFTER scroll */#}
{#.navbar-scrolled .nav-link,#}
{#.navbar-scrolled .navbar-toggler-icon,#}
{#.navbar-scrolled .navbar-brand {#}
{#  color: #fff;#}
{#}#}
{##}
{#/* Color of the navbar AFTER scroll */#}
{#.navbar-scroll,#}
{#.navbar-scrolled {#}
{#  background-color: #cbbcb1;#}
{#}#}
{##}
{#.mask-custom {#}
{#  backdrop-filter: blur(5px);#}
{#  background-color: rgba(255, 255, 255, .15);#}
{#}#}
{##}
{#.navbar-brand {#}
{#  font-size: 1.75rem;#}
{#  letter-spacing: 3px;#}
{#}#}
{#</style>#}
{# <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">#}
{#    <div class="container">#}
{#      <a class="navbar-brand" href="#!"><span style="color: #5e9693;">Psycho</span><span style="color: #fff;">logist</span></a>#}
{#      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"#}
{#        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"#}
{#        aria-label="Toggle navigation">#}
{#        <i class="fas fa-bars"></i>#}
{#      </button>#}
{#      <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#        <ul class="navbar-nav me-auto">#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#!">Offer</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#!">Features</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#!">Portfolio</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#!">Reference</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#!">About</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#!">Team</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#!">Contact</a>#}
{#          </li>#}
{#        </ul>#}
{#        <ul class="navbar-nav d-flex flex-row">#}
{#          <li class="nav-item me-3 me-lg-0">#}
{#            <a class="nav-link" href="#!">#}
{#              <i class="fas fa-shopping-cart"></i>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item me-3 me-lg-0">#}
{#            <a class="nav-link" href="#!">#}
{#              <i class="fab fa-twitter"></i>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item me-3 me-lg-0">#}
{#            <a class="nav-link" href="#!">#}
{#              <i class="fab fa-instagram"></i>#}
{#            </a>#}
{#          </li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#  </nav>#}asta merge
<style>
body {
  background: linear-gradient(to right, #140F00,#ffbf00);
  font-family: 'Montserrat', sans-serif;
}


.container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

form {
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
form p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
form a {
  text-decoration: none;
  color: #ddd;
  font-size: 12px;
}
form a:hover {
  text-shadow: 2px 2px 6px #00000040;
}
form a:active {
  text-shadow: none;
}
form input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
form input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
form input[type="email"]:focus, form input[type="password"]:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
form input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
}
form input[type="button"]:hover {
  cursor: pointer;
}
form input[type="button"]:active {
  background: rgba(255, 255, 255, 0.2);
}
form:hover {
  margin: 4px;
}

::-webkit-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

::-moz-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

:-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

::-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.drop {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.drop-1 {
  height: 80px;
  width: 80px;
  top: -20px;
  left: -40px;
  z-index: -1;
}
.drop-2 {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: -10px;
}
.drop-3 {
  height: 100px;
  width: 100px;
  bottom: 120px;
  right: -50px;
  z-index: -1;
}
.drop-4 {
  height: 120px;
  width: 120px;
  top: -60px;
  right: -60px;
}
.drop-5 {
  height: 60px;
  width: 60px;
  bottom: 170px;
  left: 90px;
  z-index: -1;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


</style>



    <div class="container">
      <form >
        <p>Welcome</p>
        <input type="email" placeholder="Email"><br>
        <input type="password" placeholder="Password"><br>
        <input type="button" value="Sign in"><br>
        <a href="#">Forgot Password?</a>
      </form>

      <div class="drops">
        <div class="drop drop-1"></div>
        <div class="drop drop-2"></div>
        <div class="drop drop-3"></div>
        <div class="drop drop-4"></div>
        <div class="drop drop-5"></div>
      </div>
    </div>


{#<style>#}
{#HTML CSSResult Skip Results Iframe#}
{#html,body {#}
{#  width: 100%;#}
{#  min-height: 100%;#}
{#  overflow:hidden;#}
{#  min-height: 99vh;#}
{#}#}
{##}
{#body {#}
{#     background: linear-gradient(90deg,#FFFF00 6%,#FFA500 25%,#F14444 45%,#D53567 55%,#9A109A 94%);#}
{#    display: flex;#}
{#    align-items: center;#}
{#    justify-content: center;#}
{#}#}
{##}
{#.wrap {#}
{#  position: relative;#}
{#}#}
{##}
{#h1 {#}
{#    font-family: Arial;#}
{#    color:  #FFF;#}
{#    font-size: 90px;#}
{#    padding: 20px 30px;#}
{#    text-shadow: 2px 2px rgba(0,0,0,0.3);#}
{#    text-transform: uppercase;#}
{#}#}
{##}
{#.main {#}
{#    background: rgba(255,255,255,0.4);#}
{#    border-radius: 10px;#}
{#    border: 1px solid rgba(255,255,255,0.2);#}
{#    width: 40px;#}
{#    height: 40px;#}
{#    position: absolute;#}
{#    border-radius: 50%;#}
{#    top: 11px;#}
{#    left: 280px;#}
{#    right: 0;#}
{#    display: block;#}
{#    margin: 0 auto;#}
{#    z-index: 4;#}
{#    backdrop-filter: blur(5px);#}
{#    -webkit-backdrop-filter: blur(5px);#}
{#}#}
{##}
{#.drop {#}
{#   background: rgba(255,255,255,0.4);#}
{#   border-radius: 10px;#}
{#   border: 1px solid rgba(255,255,255,0.2);#}
{#   position: absolute;#}
{#   backdrop-filter: blur(5px);#}
{#  -webkit-backdrop-filter: blur(5px);#}
{#   display: block;#}
{#   margin: 0 auto;#}
{##}
{#}#}
{##}
{#.drop1 {#}
{#   width: 450px;#}
{#   height: 250px;#}
{#   top: 56px;#}
{#   left: 0;#}
{#   right: 0;#}
{#   z-index: 2;#}
{#   backdrop-filter: blur(5px);#}
{#  -webkit-backdrop-filter: blur(5px);#}
{#    text-align: center;#}
{#    text-emphasis-color: #FFA500;#}
{#    font-size: larger;#}
{#    font#}
{#}#}
{##}
{#.drop2 {#}
{#    width: 40px;#}
{#    height: 40px;#}
{#    top: -30px;#}
{#    left: -80%;#}
{#    right: 0;#}
{#    z-index: 4;#}
{#}#}
{##}
{#.drop3 {#}
{#    width: 60px;#}
{#    height: 60px;#}
{#    top: 120px;#}
{#    right: 30px;#}
{#    z-index: 3;#}
{#}#}
{##}
{#.drop4 {#}
{#   width: 40px;#}
{#   height: 40px;#}
{#   border-radius: 50%;#}
{#   top: -55px;#}
{#   right: 20px;#}
{#}#}
{##}
{#span {#}
{#  background:#fff;#}
{#  position:absolute;#}
{#  bottom:0;#}
{#  right:0;#}
{#}#}
{#span a {#}
{#  padding: 8px 12px;#}
{#  font-family: Arial;#}
{#  color: #000;#}
{#  display: block;#}
{#}#}
{##}
{##}
{##}
{#Resources1× 0.5× 0.25×Rerun#}
{##}
{##}
{#    </style>#}
{#    <div class="row align-items-md-stretch mt-2">#}
{#        <div class="col-md-6">#}
{#            <div class="wrap">#}
{#                <h1>Glassmorphism</h1>#}
{#                <div class="drop drop1" >#}
{#                    <p> This is cool</p>#}
{#                    <div class="drop drop2"></div>#}
{#                    <div class="drop drop3"></div>#}
{#                    <div class="drop drop4"></div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#            <span><a href="#">Mine article about glassmorphism</a></span>#}
{#        </div>#}
{#    </div>#}

{% endblock %}