{% load static %}

{% block content %}
<style>
body {
    background-color: #c4c4c4;

}

#macarons {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    ang
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: #9702b0;
    text-shadow: 0px 0px 0 rgb(141,51,230),
                 1px 1px 0 rgb(136,46,225),
                 2px 2px 0 rgb(131,41,220),
                 3px 3px 0 rgb(126,36,215),
                 4px 4px 0 rgb(121,31,210),
                 5px 5px 0 rgb(116,26,205),
                 6px 6px 0 rgb(111,21,200),
                 {#7px 7px 0 rgb(106,16,195),#}
                 {#8px 8px 0 rgb(101,11,190),#}
                 {#9px 9px 0 rgb(96,6,185),#}
                 {#10px 10px  0 rgb(91,1,180),#}
                 {#11px 11px 10px rgba(0,0,0,0.6),#}
                 {#11px 11px 1px rgba(0,0,0,0.5),#}
                 {#0px 0px 10px rgba(0,0,0,.2);#}
    {#1px 18px 6px rgba(16,16,16,0.4),#}
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

</style>

<span class="text" id ="macarons">Macarons</span>


{% endblock content %}