{% load static %}

{% block content %}
    <style>
        #baraverticala {
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(20.0px);
            -webkit-backdrop-filter: blur(20.0px);
            border-radius: 20px;
            height: 600px;
            width: 15%;
            margin-top: 100px;
            margin-left: 100px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            align-items: center;
        }

        body {
            background: linear-gradient(to right top, #fcc00d, #eb6923, #e823eb, #234eeb, #7a07b3);

        }

        #white-text {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            text-transform: uppercase;
                        font-size: 1em;
            font-weight: 700;
            color: #f5f4f0;
            font-family: "Arial Black", Gadget, sans-serif;
            text-shadow: 0px 0px 0 rgb(240, 239, 235),
            0px -1px 0 rgb(235, 234, 230),
            0px -2px 0 rgb(230, 229, 225),
                 {#0px -3px 0 rgb(225,224,220),#}
                 {#0px -4px 0 rgb(220,219,215),#}
                 {#0px -5px 0 rgb(215,214,210),#}
                 {#0px -6px 0 rgb(210,209,205),#}
                 {#0px -7px 0 rgb(205,204,200),#}
                 {#0px -8px 0 rgb(200,199,195),#}
                 {#0px -9px 0 rgb(195,194,190),#}
                 {#0px -10px  0 rgb(190,189,185),#}
                 {#0px -11px 10px rgba(0,0,0,0.6),#}
                 {#0px -11px 1px rgba(0,0,0,0.5),#}
                 0px 0px 10px rgba(0, 0, 0, .2);
        {#7px 7px 0 rgb(106,16,195),#}{#8px 8px 0 rgb(101,11,190),#}{#9px 9px 0 rgb(96,6,185),#}{#10px 10px  0 rgb(91,1,180),#}{#11px 11px 10px rgba(0,0,0,0.6),#}{#11px 11px 1px rgba(0,0,0,0.5),#}{#0px 0px 10px rgba(0,0,0,.2);#}{#1px 18px 6px rgba(16,16,16,0.4),#} 1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
        }

        #lollipops {
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            text-transform: uppercase;
            position: absolute;
            font-size: 1em;
            font-weight: 700;
            color: #58f0e1;
            font-family: "Arial Black", Gadget, sans-serif;
            text-shadow: 0px 0px 0 rgb(83, 235, 220),
            1px 1px 0 rgb(78, 230, 215),
            2px 2px 0 rgb(73, 225, 210),
            3px 3px 0 rgb(68, 220, 205),
            4px 4px 0 rgb(63, 215, 200),
            5px 5px 0 rgb(58, 210, 195),
            6px 6px 0 rgb(53, 205, 190),
                 {#7px 7px 0 rgb(106,16,195),#}
                 {#8px 8px 0 rgb(101,11,190),#}
                 {#9px 9px 0 rgb(96,6,185),#}
                 {#10px 10px  0 rgb(91,1,180),#}
                 {#11px 11px 10px rgba(0,0,0,0.6),#}
                 {#11px 11px 1px rgba(0,0,0,0.5),#}
                 {#0px 0px 10px rgba(0,0,0,.2);#}
    {#1px 18px 6px rgba(16,16,16,0.4),#}
    1px 22px 10px rgba(16, 16, 16, 0.2),
            1px 25px 35px rgba(16, 16, 16, 0.2),
            1px 30px 60px rgba(16, 16, 16, 0.4);
        }


        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 300px;
        {#background-color: #f1f1f1;#}
        }

        li a {
            display: table-column;
            color: #f5f4f0;
            padding: 8px 16px;
            text-decoration: none;
        }


    </style>
    <div class="w3-sidebar w3-bar-block" id="baraverticala">
        <ul>
            <li>
                <a href="#" class="text" id="white-text">White text</a><br>
            </li>

            <li>
                <a href="#" class="text" id="lollipops">Lollipops</span>
            </li>


        </ul>
{% endblock content %}