{% load static %}

{% block content %}
    <style>
        .container {
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(20.0px);
            -webkit-backdrop-filter: blur(20.0px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }

        body {
            background-color: #c4c4c4;

        }

        #white-text {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            text-transform: uppercase;
            ang
            font-family: verdana;
            font-size: 3em;
            font-weight: 700;
            color: #d6d5d2;
            font-family: "Arial Black", Gadget, sans-serif;
            text-shadow: 0px 0px 0 rgb(209, 208, 205),
            1px 1px 0 rgb(204, 203, 200),
            2px 2px 0 rgb(199, 198, 195),
            3px 3px 0 rgb(194, 193, 190),
            4px 4px 0 rgb(189, 188, 185),
            5px 5px 0 rgb(184, 183, 180),
            6px 6px 0 rgb(179, 178, 175),
                 {#7px 7px 0 rgb(106,16,195),#}
                 {#8px 8px 0 rgb(101,11,190),#}
                 {#9px 9px 0 rgb(96,6,185),#}
                 {#10px 10px  0 rgb(91,1,180),#}
                 {#11px 11px 10px rgba(0,0,0,0.6),#}
                 {#11px 11px 1px rgba(0,0,0,0.5),#}
                 {#0px 0px 10px rgba(0,0,0,.2);#}
    {#1px 18px 6px rgba(16,16,16,0.4),#}
    1px 22px 10px rgba(16, 16, 16, 0.2),
            1px 25px 35px rgba(16, 16, 16, 0.2),
            1px 30px 60px rgba(16, 16, 16, 0.4);
        }

    </style>
    <div class="container">
        <span class="text" id="white-text">White text</span>
    </div>

{% endblock content %}