/*.nowrap{*/
/*    white-space: nowrap;*/
/*}*/
/*.navbar .nav-link > li > a,*/
/*        .navbar .nav-link > .active > a {*/
/*            color: #878782 ;*/
/*        }*/

/*        .navbar-nav .nav-item > a:hover {*/
/*            color: #7f3fbf !important;*/

/*        }*/
/*.navbar-nav .nav-item > a {*/
/*            color:#878782 !important;*/

/*        }*/
/*        #submeniu > a:hover {*/
/*            color: #7f3fbf !important;*/
/*        }*/

/*        #pagina {*/
/*            margin-left: 20px;*/
/*            margin-right: 20px;*/
/*        }*/

