{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <style>
    body{
    background: linear-gradient(to right top, #EEC290 25%, #F0E7B1 45%, #F0B1EE 55%, #C7A4E4 94%);
}
    .btn{
        border-radius: 20px;
    border-color: #9c46e8;
    color: #878782;
    }
    .btn:hover{
background-color:#d7a4eb;
    }
    </style>
    <div class="container mx-25">
        <div class="row align-items-md-stretch mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'store:product_create' %}" type="button"
                       class="btn btn-sm ">Add Something</a>
                </div>
            </div>
        </div>
        <div>

            <table class="table">

                <thead>
                <tr>
                    <th scope="col">User name</th>
                    <th scope="col">Cart status</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Details</th>
                    <th scope="col">Confirm</th>
                </tr>
                </thead>

                <tbody>
                {% for cart in carts %}
                    <tr>

                        <td>{{ cart.user.get_full_name }} </td>
                        <td>{{ cart.status }} </td>

                        <td>{{ cart.quantity }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'store:cart_details_admin' pk=cart.id %}" type="button"
                                   class="btn btn-sm ">Details</a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">

                                <form method="post" action="">
                                    {% csrf_token %}
                                    {% if cart.status == 'closed' %}
                                        <input class="btn btn-sm " type="submit" value="Confirm">
                                    {% else %}
                                        <input class="btn btn-sm " type="submit" value="Confirm" disabled>
                                    {% endif %}
                                    <input type="hidden" value="{{ cart.id }}" name="cart_id">
                                </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}