{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <style>
        body {
            background: linear-gradient(to right top, #EEC290 25%, #F0E7B1 45%, #F0B1EE 55%, #C7A4E4 94%);
        }

        .btn {
            border-radius: 1rem;
          border-color: #9c46e8;
    color: #878782;
        }
        .btn:hover{
            background-color: #d7a4eb;
        }

        #pastila {
            border-radius: 1rem;
            box-shadow: 0 5px 10px rgba(127, 63, 191, 0.7);
        }

#imagine{
    border-radius: 2rem;
}

        .btn-group:hover {
            background-color: #d7a4eb;
        }
        #add{
         border-radius: 1rem;
        }
    </style>
    <div class="container mx-25">
    <div class="d-grid gap-2">
        <div class="btn-group">
            <br>
            <a id="add" href="{% url 'store:category_create' %}" type="button"
               class="btn ">Add Category</a>
        </div>
    </div>

        <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">
            {% for category in categories %}
                <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                    <div id="pastila" class="card shadow-sm">
                        <img id="imagine"
                             src="{{ category.image.url }}">
                        <div class="card-body">
                            <p class="card-text"> {{ category.name }}</p>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'store:category_update' pk=category.id %}" type="button"
                               class="btn btn-sm ">Update</a>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'store:category_delete' pk=category.id %}" type="button"
                               class="btn btn-sm ">Delete</a>
                        </div>
                    </div>

                </div>
                </div>
            {% endfor %}
        </div>
    </div>

                {#                <div class="card-body">#}
                {#                    <p class="card-text"> {{ category.name }}.</p>#}
                {#                    <div class="d-flex justify-content-between align-items-center">#}
                {#                        <div class="btn-group">#}
                {#                            <a href="{% url 'store:category_update' pk=category.id %}" type="button"#}
                {#                               class="btn btn-sm btn-outline-warning">Update</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="d-flex justify-content-between align-items-center">#}
                {#                        <div class="btn-group">#}
                {#                            <a href="{% url 'store:category_delete' pk=category.id %}" type="button"#}
                {#                               class="btn btn-sm btn-outline-warning">Delete</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="d-flex justify-content-between align-items-center">#}
                {#                        <div class="btn-group">#}
                {#                            <a href="{% url 'store:category_list' category_slug=category.slug %}" type="button"#}
                {#                               class="btn btn-sm btn-outline-warning">View details</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                </div>#}




{#                {% if not category.parent %}#}
{#                    <div class="col-md-5">#}
{#                        <div class="card shadow-sm">#}
{#                            <img src="{{ category.image.url }}">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <p class="card-text"> {{ category.name }}.</p>#}
{##}
{#                    </div>#}
{#                {% endif %}#}



{% endblock %}