{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block content %}
    <style>
     body{
    background: linear-gradient(to right top, #EEC290 25%, #F0E7B1 45%, #F0B1EE 55%, #C7A4E4 94%);
}
        .container {
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 2rem;
            font-size: larger;
            font-family: sans-serif;
            text-align: center;
            line-height: 1;
            margin-left: 300px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            box-shadow: 0 5px 10px rgba(127, 63, 191, 0.7);
            margin-bottom: 10px;
            margin-top: 20px;

        }

        .card .card-body {
            border-radius: 2rem;
            font-family: sans-serif;
            text-align: center;
            line-height: 1;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            margin-bottom: 10px;
              }

        #vvv {
            border-radius: 2rem;
margin-bottom: 20px;
        }
.btn{
     border-radius: 1rem;
          border-color: #9c46e8;
    color: #878782;
}
#view:hover{
    background-color: #d7a4eb;
}
        #poza {
            border-radius: 2rem;

        }
        #add{
        background-color: #d7a4eb;
        }
    </style>
    <div class="container">
        <div class="row   row-cols-md-3 g-3 mx-2 my-2">
            {% for product in products %}
                <div class="col">
                    <div id="vvv" class="card shadow-sm">
                        <img id="poza" src="{{ product.image.url }}">
                        <div class="card-body">
                            <p class="card-text"> {{ product.name }}</p>
                            <p class="card-text"> Price: {{ product.price }} € </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a id="view" href="{% url 'store:product_detail' product_slug=product.slug %}" type="button"
                                       class="btn ">View details</a>
                                </div>

                                <form method="post" action="{% url 'store:add_to_cart'  product_id=product.id %}">
                                    {% csrf_token %}

                                    <button id="add" type="submit" class="btn  ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-cart2" viewBox="0 0 16 16">
                                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                        </svg>
                                        Add to cart
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>



{% endblock %}