{% extends 'base.html' %}
{% block content %}
    <form class="menu_item" action="" method="post">
        {% csrf_token %}
        <label for="category_name">Category name:</label>
        <input id="category_name" type="text" name="category_name">
        <br>
        <input type="submit" value="Add Category">
    </form>
{% endblock content%}