{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="category_id" value="{{ category.id }}">
        <br>
        <br>
        <label for="category_name_input">Category name:</label>
        <input id="category_name_input" type="text" value='{{ category.name }}' name="category_name">
        <br>
        <br>
        <input type="submit" value="Update Category">
    </form>
{% endblock content %}