{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div class="container mx-25">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">
            {% for category in categories %}
                {% if not category.parent %}
                    <div class="col-md-5">
                        <div class="card shadow-sm">
                            <img src="{{ category.image.url }}">
                            <div class="card-body">
                                <p class="card-text"> {{ category.name }}.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'store:category_list' category_slug=category.slug %}"
                                           type="button"
                                           class="btn btn-sm btn-outline-warning">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}