{#{% extends "base.html" %}#}
{% load static %}
<style>
{#STyle pt glassmorphism box#}
     .box {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 1rem;
        font-family: sans-serif;
        text-align: center;
        line-height: 1;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        height: 350px;
         width:900px;
        padding: 20px 40px;
        color: #7229C5;
    }

    body {
        background: linear-gradient(to right top, #EEC290 25%, #F0E7B1 45%, #F0B1EE 55%, #C7A4E4 94%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
    }

    {#.container {#}
    {#    align-items: center;#}
    {#    display: flex;#}
    {#    justify-content: center;#}
{#height: 350px;#}
{#            width:200px;#}
    }



    {#.wrap {#}
    {#    position: relative;#}
    {
    #}#}
    {##}
    {#h1 {#}
    {#    font-family: Arial;#}
    {#    color: #FFF;#}
    {#    font-size: 90px;#}
    {#    padding: 20px 30px;#}
    {#    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);#}
    {#    text-transform: uppercase;#}
    {
    #}#}

    {#.main {#}
    {#    background: rgba(255, 255, 255, 0.4);#}
    {#    border-radius: 1rem;#}
    {#    border: 1px solid rgba(255, 255, 255, 0.2);#}
    {#    width: 40px;#}
    {#    height: 40px;#}
    {#    position: absolute;#}
    {##}
    {#    top: 11px;#}
    {#    left: 280px;#}
    {#    right: 0;#}
    {#    display: block;#}
    {#    margin: 0 auto;#}
    {#    z-index: 4;#}
    {#    backdrop-filter: blur(5px);#}
    {#    -webkit-backdrop-filter: blur(5px);#}
    {
    #}#}

    {#.drop {#}
    {#    background: rgba(255, 255, 255, 0.4);#}
    {#    border-radius: 1rem;#}
    {#    border: 1px solid rgba(255, 255, 255, 0.2);#}
    {#    position: absolute;#}
    {#    backdrop-filter: blur(5px);#}
    {#    -webkit-backdrop-filter: blur(10px);#}
    {#    display: block;#}
    {#    margin: 0 auto;#}
    {#    width: 100%;#}
    {#    height: 250px;#}
    {#box-shadow: 0 5px 50px rgba(127, 63, 191, 0.7);#}
    {
    #}#}

    {#.drop1 {#}
    {#    width: 90%;#}
    {#    height: 150px;#}
    {#    top: 56px;#}
    {#    left: 0;#}
    {#    right: 0;#}
    {#    z-index: 7;#}
    {#    backdrop-filter: blur(2px);#}
    {#    -webkit-backdrop-filter: blur(10px);#}
    {
    #}#}


    {#    .container mx-25{#}
    {##}
    {#    }#}
    {#    .col-md-3{#}
    {#background: linear-gradient(90deg,#EEC290 25%,#F0E7B1 45%,#F0B1EE 55%,#C7A4E4 94%);#}
    {#background: rgba(255,255,255,0.4);#}
    {#    border-radius: 10px;#}
    {#    border: 1px solid rgba(255,255,255,0.2);#}
    {#        backdrop-filter: blur(5px);#}
    {#  -webkit-backdrop-filter: blur(5px);#}
    {#        background: rgba(255,255,255,0.4);#}
    {#    }#}

</style>

{% block content %}

    <div class="container">
        <div class="box">

                    <p> Rainbow Candy Shop started as a small family business.Although not small any more, the business
                        tries to keep the family atmosphere where we care not only
                        about our company, our products and our staff, but also we consider each "customer" a member in
                        this
                        family of "cake shoppers". </p>
                    <p>Our mission is to make people happy. Making delicious cakes, having relaxing chairs in a smoking
                        free environment and keeping our prices reasonable are all different ways to achieve this
                        goal.</p>
                </div>
            </div>



    {#    <div class="container mx-25">#}
    {#        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">#}
    {##}
    {#            <div class="col-md-3 ">#}
    {#                <div class="h-100 p-5 bg-white border rounded-3 text-center">#}
    {#                    <h4> Design to play </h4>#}
    {##}
    {#                    <a href="/media/PDF/rafa-kids-lookbook-lowres.pdf" class="btn btn-outline-warning" role="button"#}
    {#                       data-bs-toggle="button"> Inspirational Lookbook</a>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-md-9">#}
    {#                <div class="h-100 p-5 text-white bg-light rounded-3">#}
    {#                    <img src="/media/images/Rafa-kids-lookbook01W-800x400.jpg" style="max-width:95%">#}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {##}
    {##}
    {#        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">#}
    {#            <div class="col-md-3 ">#}
    {#                <div class="h-100 p-5 bg-light border rounded-3 text-center">#}
    {#                    <h4> Shelf collection#}
    {#                    </h4>#}
    {##}
    {#                    <a href="/media/PDF/Rafa-kids-lookbook_shelf.pdf" class="btn btn-outline-warning" role="button"#}
    {#                       data-bs-toggle="button"> Inspirational Lookbook</a>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-md-9">#}
    {#                <div class="h-100 p-5 text-white bg-light rounded-3">#}
    {#                    <img src="/media/images/Rafa-kids-lookbook02W-800x400.jpg" style="max-width:95%">#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">#}
    {#            <div class="col-md-3">#}
    {#                <div class="h-100 p-5 bg-light border rounded-3 text-center">#}
    {#                    <h4> Bench collection#}
    {#                    </h4>#}
    {##}
    {#                    <a href="/media/PDF/Rafa-kids-lookbook_bench.pdf" class="btn btn-outline-warning" role="button"#}
    {#                       data-bs-toggle="button"> Inspirational Lookbook</a>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-md-9">#}
    {#                <div class="h-100 p-5 text-white bg-light rounded-3">#}
    {#                    <img src="/media/images/Rafa-kids-lookbook03-800x400.jpg" style="max-width:95%">#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}