/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/* ========================================================================
   Use this file to add custom CSS easily
 ========================================================================== */

/*gdpr cookie stuff */
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h1, #moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h2, #moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h3, #moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h4, #moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h5, #moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h6, #moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p, #moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p a, #moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme p {
color: #727272;
}


#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton:hover, #moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton:hover {
background-color: none !important;
color: #111111 !important;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton, #moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton {
background-color: none !important;
}


#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton, #moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton {
border-radius: 0 !important;
color: #7b7387 !important;
background: none !important;
font-family: "GlossyDisplay-LightCondensedItalic", DomaineSansText-Regular;
font-size: 2.5em !important;
}


/* make the checkboxes round */

input[type="checkbox"] {
width: 1.3em;
height: 1.3em;
background-color: white;
border-radius: 50%;
border: 1px solid #ddd;
-webkit-appearance: none;
outline: none;
cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #370044;
}


/* headerbar stuff */

#tm-headerbar .tm-logo.uk-hidden-small img {
    max-width: 210px;
	max-height: 80px;
}

#tm-headerbar {
    box-shadow: 0px 6px 4px rgba(0,0,0,.3);
    z-index: 10 !important;
    position: sticky !important;
	width:100%;
  position: -webkit-sticky;
  top: 0; /* required */
}

#tm-middle {
    z-index: 2 !important;
}

.admin-bar .tm-headerbar {
 top: 0 !important;
}

body {
    padding-top:0 !important;
}

/* footer */

.footer-right {
    align-items: flex-end;
    display:flex;
	color:#111;
}

.footer-right div {
    padding:20px;
    text-align:left;
}

.footer-right .fa {
font-size: 30px;
padding: 0 15px 20px 0;
color: #111;
}


.footer-cover {
	min-height:350px !important;
	height:350px;
}

@media screen and (max-width:480px) {
	.footer-right {
	min-height:400px !important;
	height:400px;
	}
	.footer-cover {
	min-height:400px !important;
	height:400px;
	}
}

@media screen and (min-width:481px) {
	.footer-right {
	min-height:350px !important;
	height:350px;
	}
	.footer-cover {
	min-height:350px !important;
	height:350px;
	}
}

.footer-right div {
    padding:20px;
    text-align:left;
}

.tm-footer a, .tm-footer .uk-subnav > li > a {
color: #111 !important;
text-decoration: underline;
}



/* fit menu for center logo */

@media screen and (min-width:960px) {
	
    #tm-headerbar.tallheader .tm-navbar .uk-navbar-nav > li:nth-child(3)::before, #tm-headerbar .tm-navbar .uk-navbar-nav > li:nth-child(3)::before {
		display: block;
		content: '';
		display: inline-block;
		height: 120px;
		width: 176px;
		background-image: url(https://gracecc.ro/logo-mare.svg);
		background-size: 100%;
		position: absolute;
		margin: 0px 0 0 98px;
		background-repeat: no-repeat;
		background-position: center;
    }

    #tm-headerbar.tallheader .uk-navbar-nav > li > a, #tm-headerbar .uk-navbar-nav > li > a {
        height: 120px !important;
        line-height: 120px !important;
    }
	
    #tm-headerbar.shortheader .tm-navbar .uk-navbar-nav > li:nth-child(3)::before {
        display: block;
        content: '';
        display: inline-block;
        height: 65px;
        width: 152px;
        background-image: url(https://gracecc.ro/logo-mare.svg);
        background-size: 100%;
        position: absolute;
        margin: 0px 0 0 77px;
    }

    #tm-headerbar.shortheader .uk-navbar-nav > li > a {
        height: 65px !important;
        line-height: 65px !important;
    }
	
    
	/* Make the 4th element, home large and hide text */
		.tallheader .tm-navbar .uk-navbar-nav > li:nth-child(4) a, .tm-navbar .uk-navbar-nav > li:nth-child(4) a {
		width: 260px !important;
		color: transparent !important;
		margin: 0px;
	}

	.shortheader .tm-navbar .uk-navbar-nav > li:nth-child(4) a {
		width: 200px !important;
		color: transparent !important;
		margin: 0px;
	}

	.tm-navbar .uk-navbar-nav > li:nth-child(4) a:after{
		display:none;
	}

    .tm-navbar .uk-navbar-flip {
        float: none !important;
        text-align:center;
    }

    .tm-navbar a.tm-logo {
        display: none;
    }

    .tm-navbar .uk-navbar-nav > li {
        display: inline-block;
        float:none !important;
    }
    .tm-navbar .uk-navbar-nav {
        width: 100%;
        text-align: center;
    }
}

/* Hide the 4th element, home in mobile view */
@media screen and (max-width:960px) {
    .uk-nav-offcanvas > li:nth-child(4) a {
    display:none;
}
}

/* widgetkit 2 mandatory display arrows, not only on hover */
.uk-slidenav-position .uk-slidenav {  
    display: block !important;  
} 

 /* homepage presa si galerie foto */
 
.hgp a[data-lightbox] { 
    max-width: 48%;
    margin:1%;
    text-align:center
}

.hgp > div > div:nth-child(n+4) {
    display:none;
}

.hgg a[data-lightbox] { 
    max-width: 24%;
    margin:0.5%;
    text-align:center
}

.hgg > div > div:nth-child(n+7) {
    display:none;
}

.golden {
    color: #ccac2a;
    font-weight: bold;
    min-height: 147px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
}

.goldenborder {
    border: 2px solid;
    margin: 10px 0;
}

.santa-button {
    background: goldenrod;
    text-align: center;
    width: 160px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    line-height: 17px;
    margin: 10px auto 20px auto;
}
 
 /* homepage content spacing and alignment */
 .homepage-content{
 max-width: 80%;
 margin: 0 auto;
 }
 
 .center {
 text-align:center;
 }
 
 .justify {
 text-align:justify;
 }
 
 
/*contact form custom  - doar pagina de contact*/

input.wpcf7-form-control.wpcf7-text, textarea.wpcf7-form-control {
width:100%;
border: 1px solid #beb3ad;
}



.custom-contact  {
font: 90%/1.5 /*12/18*/ Tahoma, Helvetica, Arial, sans-serif;
clear: both; 
display: block;
}

.custom-margin {
margin-bottom:15px;
}

.contact-container{
    display: table-cell;
    vertical-align: middle;
    height: 250px;
}

.page-id-140 input.wpcf7-form-control-wrap {
width: 100%;
}

.presa {
display: initial;
min-height:250px;
}

.display {
display:initial;
}

.container-harti {
width:100%;
}

.harta {
width:49%;
display:inline-block;
}

/*cake shop */
.width100 {
width:100%;
margin-top:25px;
background: whitesmoke;
padding: 18px 21px;
}

.spacing-top {
margin-top:20px;
}
.spacing-top-double {
margin-top:40px;
}

.width50-1 {
width:50%;
}

.max-250 {
max-width:250px;
}

.padding-right {
padding: 0px 15px 0 0px;
}

.width50 {
width:45%;
display:inline-block;
margin-right:4%;
}

@media screen and (max-width: 650px) {
    .width50 {
        width: 100%;
        margin-right: 0;
}
}

.width50 p{
border-bottom: 1px dashed #333;
height:35px;

}

 
em {
color:#444;
}

.tm-block-footer {
background: #fff;
padding: 35px 0 0 0;
}

.tm-footer {
position: relative;
padding: 0;
}

.tm-block-dark {
/*background: #caf29a;*/
background-color: whitesmoke;
}

@media screen and (min-width: 760px) {
.bottomleft {
float:left;
}

.bottommiddle {
text-align:center;
}

.bottomright {
float:right;
text-align:right;
}
}

@media screen and (max-width: 759px) {
.bottomleft {
text-align:center;
}

.bottommiddle {
text-align:center;
}

.bottomright {
text-align:center;
}
}



.tm-content{
padding-bottom:35px;
}


@font-face { font-family: 'Pristina';
src: url('../custom_font/pristina/pristina.eot');
src: url('../custom_font/pristina/pristina.eot?#iefix') format('embedded-opentype'), url('font/path/pristina.svg#Pristina') format('svg'), url('font/path/pristina.woff') format('woff'), url('font/path/pristina.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.uk-slideshow-fullscreen {
    max-height:700px;
}

@media screen and (min-width: 760px) {

.tm-fullscreen {
/*z-index: 100;*/
background: none;
/*background: url("/wp-content/uploads/2016/02/torturi-2017.jpg") 50% 7% no-repeat;*/
/*background: url("/wp-content/uploads/2016/02/torturi-nunta.jpg") 50% 7% no-repeat*/
/*background: url("/wp-content/uploads/2017/04/home-page.jpg") 50% 7% no-repeat;*/
background-size: cover;
/*min-height: 850px;*/
}
}

@media screen and (max-width: 760px) {

.tm-fullscreen {
z-index: -10;
background: url("/wp-content/uploads/2016/02/torturi-2017.jpg") 50% 7% no-repeat;
/*background: url("/wp-content/uploads/2016/02/torturi-nunta.jpg") 50% 7% no-repeat*/
/*background: url("/wp-content/uploads/2017/04/home-page.jpg") 50% 7% no-repeat;*/
background-size: cover;
}
}


.uk-panel-box {
border: 0;
padding:30px 0;
}

.calendar{
width:100%
}


.uk-article-title {
font-size: 25px;
line-height: 42px;
font-weight: 700;
text-transform: none;
}

.calendar caption {
font-size: 19px;
line-height: 24px;
font-weight:700;
text-transform: capitalize;
margin-bottom: 15px;
}

.uk-responsive-height {
text-align: center !important;
}

.tm-block-large .tm-block {
padding-bottom: 40px;
}

.tm-block-large .tm-block-divider {
padding-top: 40px;
}


.tm-block-large .tm-block-dark {
padding: 40px 0;
}

.tm-block-large .tm-block-dark {
padding:40px 0 40px 0;
}

.wp-gallery title {
font-size:16px;
}

/* Meniu galerii foto */

.left {
float:left;
padding: 0 10px;
border-right:1px solid #ccc;
margin-bottom: 20px;
}

div.uk-panel.uk-panel-box.widget_text{

}
/* end meniu galerii foto */

/*Culori template */

.uk-navbar-nav > li > a {
color: #111111;
margin: 0 8px;
}

a, .uk-link {
color: #111111;
}

.uk-nav-navbar > li > a {
color: #111111;
}


/*end culori template*/


/*Mailing*/
.mc4wp-form {
margin: 0;
}

.mc4wp-form input[type=email] {
width:120px;
}

.mc4wp-form input[type=submit] {
display:inline-block;
}

.mc4wp-form input[type=email] {
display: inline;
}



/* END mailing */

/* Responsive content */

@media screen and (min-width: 760px) {

#outer {
    display: table;
    width: 100%;
    height: 343px; /* Height can be anything */
}
#inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
}


@media screen and (max-width: 760px) {

#outer {
    display: table;
    width: 100%;
    height: 180px; /* Height can be anything */
}
#inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
}


@media (min-width: 768px) {
.uk-dropdown:not(.uk-dropdown-stack) > .uk-dropdown-grid > [class*='uk-width-'] {
    padding-left: 18px;
    padding-right: 18px;
}
}


/* END responsive content*/


#responsive-form {
    padding-top: 11px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #dddddd
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.delay10 {
    -webkit-animation-delay: 1.0s;
    -moz-animation-delay: 1.0s;
    animation-delay: 1.0s;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.form-row{
    width: 100%;
}

.column-half, .column-full{
    float: left;
    position: relative;
    padding: 5px;
    width:100%;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 5px;
    text-align:center;
}

@media only screen and (min-width: 48em) { 
    .column-half{
        width: 50%;
        padding:0 5px
    }
}

input.wpcf7-form-control.wpcf7-text, textarea.wpcf7-form-control {
    max-height: 100px;
}

.wpcf7-form input[type="date"] {
    width:100%;
}

select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
    width:100%;
    border-radius:0;
        border: 1px solid #beb3ad;
}

input[type="text"] {
}

.gracbutton {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    text-transform: none;
    color: #444444;
    border: 1px solid #a9a9a9;
    padding: 5px;
    cursor: pointer;
    font-family: 'Open Sans Condensed';
    text-align: center;
}

.gracbutton:hover {
    color: #fff;
    border: 1px solid #a9a9a9;
    background-color: #a9a9a9;
}

#gracbtn {
    color: #444444;
}

#gracbtn:hover {
    color: #ffffff;
}

input, select, textarea {
    font-family: inherit;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 13px;
    font-size: 13px;
    max-height: 100px;
    outline: none;
}

input.wpcf7-form-control.wpcf7-date.wpcf7-validates-as-required.wpcf7-validates-as-date {
        border: 1px solid #beb3ad;
}

input[type="checkbox"] {
    margin-bottom:0;
}


span.wpcf7-list-item-label {
    font-size: 11px;
    color: #000;
    text-transform: uppercase;
    bottom: 2px;
    position: relative;
}


span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    display: block;
    margin: 0;
    text-transform: uppercase;
}

/*input.wpcf7-form-control.wpcf7-submit {
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: white;
    border: 1px solid #beb3ad;
    cursor: pointer;
}*/

input.wpcf7-form-control.wpcf7-submit:hover {
    background-color: #beb3ad;
}