{% load static %}

{% block content %}


    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }

        body {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #350048;
        }

        .container {
            width: 600px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

        }

        .container .btn {
            position: relative;
            width: 155px;
            height: 50px;
            margin: 20px;

        }

        .container .btn a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.02);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 30px;
            color: #fff;
            z-index: 1;
            font-weight: 400;
            letter-spacing: 1px;
            text-decoration: none;
            overflow: hidden;
            transition: 0.5s;
            backdrop-filter: blur(15px);
        }

        .container .btn:hover a {
            letter-spacing: 3px;
        }

        .container .btn a:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
            transform: skewX(45deg) translateX(0);
            transition: 0.5s;
        }

        .container .btn:hover a:before {
            transform: skewX(45deg) translateX(100px);
        }

        .container .btn:before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0s;

        }

        .container .btn:hover::before {
            bottom: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
            transition-delay: 0.5s;
        }

        .container .btn::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0s;

        }

        .container .btn:hover::after {
            top: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
            transition-delay: 0.5s;
        }

        .container .btn:nth-child(1)::before,
        .container .btn:nth-child(1)::after {
            background: #ff1f71;
            box-shadow: 0 0 5px #ff1f71,
            0 0 15px #ff1f71,
            0 0 30px #ff1f71,
            0 0 60px #ff1f71;
        }

        .container .btn:nth-child(2)::before,
        .container .btn:nth-child(2)::after {
            background: #2bd2ff;
            box-shadow: 0 0 5px #2bd2ff,
            0 0 15px #2bd2ff,
            0 0 30px #2bd2ff,
            0 0 60px #2bd2ff;
        }

        .container .btn:nth-child(3)::before,
        .container .btn:nth-child(3)::after {
            background: #1eff45;
            box-shadow: 0 0 5px #1eff45,
            0 0 15px #1eff45,
            0 0 30px #1eff45,
            0 0 60px #1eff45;
        }

        .container .btn:nth-child(4)::before,
        .container .btn:nth-child(4)::after {
            background: #fcdd00;
            box-shadow: 0 0 5px #fcdd00,
            0 0 15px #fcdd00,
            0 0 30px #fcdd00,
            0 0 60px #fcdd00;
        }
        .container .btn:nth-child(5)::before,
        .container .btn:nth-child(5)::after {
            background: #6A1B9A;
            box-shadow: 0 0 5px #6A1B9A,
            0 0 15px #6A1B9A,
            0 0 30px #6A1B9A,
            0 0 60px #6A1B9A;
        }
    </style>




    <body>
    <div class="container">
        <div class="btn"><a href="#"> Shop<?</a></a></div>
        <div class="btn"><a href="#"> Details<?</a></a></div>
        <div class="btn"><a href="#"> Read more<?</a></a></div>
        <div class="btn"><a href="#"> Add to cart<?</a></a></div>
        <div class="btn"><a href="#"> Add to cart<?</a></a></div>
    </div>
    </body>





















{#asta nu merge#}

    {#    <style>#}
    {##}
    {#:root {#}
    {#  --foreground-color: white;#}
    {#}#}
    {##}
    {#* {#}
    {#  padding: 0;#}
    {#  margin: 0;#}
    {#  box-sizing: border-box;#}
    {#}#}
    {##}
    {#body {#}
    {#  overflow: hidden;#}
    {#}#}
    {#main {#}
    {#    background:#}
    {#    linear-gradient(322deg,#}
    {#      #ba4aff, rgba(#ba4aff, 0) 70%),#}
    {#    linear-gradient(178deg,#}
    {#      #008aff, rgba(#008aff, 0) 70%),#}
    {#    linear-gradient(24deg,#}
    {#      #00ffc6, rgba(#00ffc6, 0) 35%);#}
    {#}#}
    {#main {#}
    {#  display: flex;#}
    {#  align-items: center;#}
    {#  justify-content: center;#}
    {#  min-height: 100vh;#}
    {##}
    {#  background:#}
    {#    linear-gradient(322deg,#}
    {#      #ba4aff, rgba(#ba4aff, 0) 70%),#}
    {#    linear-gradient(178deg,#}
    {#      #008aff, rgba(#008aff, 0) 70%),#}
    {#    linear-gradient(24deg,#}
    {#      #00ffc6, rgba(#00ffc6, 0) 35%);#}
    {#}#}
    {##}
    {#.ruler {#}
    {#  border-top: 1px solid rgba(white, 0.3);#}
    {#  background-color: rgba(white, 0.05);#}
    {##}
    {#  position: absolute;#}
    {#  top: 50%;#}
    {#  height: 50%;#}
    {#  left: 0%;#}
    {#  right: 0%;#}
    {#}#}
    {##}
    {#.container {#}
    {#  display: grid;#}
    {#  grid-template-columns: repeat(5, 1fr);#}
    {#  gap: 1.25rem;#}
    {##}
    {#  .icon {#}
    {#    --size: 6rem;#}
    {#    --transition-duration: 500ms;#}
    {#    --transition-easing: ease-out;#}
    {##}
    {#    width: var(--size);#}
    {#    height: var(--size);#}
    {##}
    {#    display: flex;#}
    {#    align-items: center;#}
    {#    justify-content: center;#}
    {##}
    {#    text-decoration: none;#}
    {#    color: var(--foreground-color);#}
    {#    font-size: 2rem;#}
    {#    border: 1px solid rgba(white, 0.6);#}
    {#    background-color: rgba(white, 0.1);#}
    {#    backdrop-filter: blur(2px);#}
    {#    border-radius: 0.5rem;#}
    {#    box-shadow:#}
    {#      0px#}
    {#      calc(var(--size) / 6)#}
    {#      calc(var(--size) / 3)#}
    {#      rgba(black, 0.1);#}
    {##}
    {#    transition: transform#}
    {#      var(--transition-duration)#}
    {#      var(--transition-easing);#}
    {##}
    {#    overflow: hidden;#}
    {##}
    {#    &::before {#}
    {#      content: '';#}
    {#      background: rgba(white, 0.4);#}
    {#      width: 60%;#}
    {#      height: 100%;#}
    {#      top: 0%;#}
    {#      left: -125%;#}
    {##}
    {#      transform: skew(45deg);#}
    {##}
    {#      position: absolute;#}
    {##}
    {#      transition: left#}
    {#        var(--transition-duration)#}
    {#        var(--transition-easing);#}
    {#    }#}
    {##}
    {#    &:hover {#}
    {#      transform: translateY(-25%);#}
    {##}
    {#      &::before {#}
    {#        left: 150%;#}
    {#      }#}
    {#    }#}
    {#  }#}
    {#}#}
    {#    </style>#}
    {##}
    {#<<main>#}
    {#  <div class="ruler"></div>#}
    {##}
    {#  <div class="container">#}
    {#    <a class="icon" href="#">#}
    {#      <i class="fas fa-phone">Phone</i>#}
    {#    </a>#}
    {#    <a class="icon" href="#">#}
    {#      <i class="fas fa-images">image</i>#}
    {#    </a>#}
    {#    <a class="icon" href="#">#}
    {#      <i class="fas fa-envelope-open">envelope</i>#}
    {#    </a>#}
    {#    <a class="icon" href="#">#}
    {#      <i class="fas fa-comment">comment</i>#}
    {#    </a>#}
    {#    <a class="icon" href="#">#}
    {#      <i class="fas fa-music">music</i>#}
    {#    </a>#}
    {#  </div>#}
    {#</main>#}
    {#    >#}

{% endblock content %}

