{% extends 'base.html' %}
{% block content %}

    <p>ID: {{ product.id }}</p>
    <p>Name: {{ product.name }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Image:{{ product.image }}</p>
    <p>Category: {{ product.category.name }}</p>
    <p>Stock: {{ product.stock }}</p>



{% endblock content%}