{% extends 'base.html' %}

{% block content %}

        <form class="menu_item" action="" method="post">
        {% csrf_token %}

        <input type="hidden" name="product_id" value="{{ product.id }}">

        <label for="product_name_input">Product name:</label>
        <input id="product_name_input" type="text" value="{{ product.name }}" name="product_name">
        <br>
        <br>
        <label for="product_price_input">Product price:</label>
        <input id="product_price_input" type="number" value="{{ product.price }}" name="product_price">
        <br>
        <br>
        <label for="product_stock_input">Product stock:</label>
        <input id="product_stock_input" type="number" value="{{ product.stock }}" name="product_stock">
        <br>
        <br>
        <label for="product_description_textarea">Product description:</label>
        <textarea id="product_description_textarea" name="product_description"
                  rows="10">{{ product.description }}</textarea>
        <br>
        <br>
        <label for="product_category_select">Product category:</label>
        <select id="product_category_select" name="product_category_id">
            {% for category in categories %}
                {% if product.category.id == category.id %}
                    <option value="{{ category.id }}" selected>{{ category.name }}</option>
                {% else %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endif %}
            {% endfor %}

        </select>
        <br>
        <br>
        <input type="submit" value="Update product">
    </form>

{% endblock content%}