{% extends 'base.html' %}
{% block content %}

    <h2>Do you want to delete {{ product.name }}?</h2>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="submit" value="Delete product">
    </form>
{% endblock content %}