{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<style>
body{
    background: linear-gradient(to right top, #EEC290 25%, #F0E7B1 45%, #F0B1EE 55%, #C7A4E4 94%);
}
.btn{
    border-radius: 20px;
    border-color: #9c46e8;
    color: #878782;
}
#pastila{
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(127, 63, 191, 0.7);
}
.btn-group:hover{
    background-color:#d7a4eb;
}
{#.btn{#}
{#    background-color:#d7a4eb;#}
{#}#}
#imagine{
    border-radius: 2rem;
}
</style>
    <div class="container mx-25">
    <div class="d-grid gap-2">
        <div class="btn-group">
            <a href="{% url 'store:product_create' %}" type="button"
               class="btn ">Add Product</a>
        </div>
    </div>

        <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mx-2 my-2">
            {% for product in products %}
                <div  class="col">
                    <div class="d-flex justify-content-between align-items-center">
                        <div id="pastila" class="card shadow-sm">
                            <img id="imagine"
                                 src="{{ product.image.url }}">
                            <div class="card-body">
                                <p class="card-text"> Name: {{ product.name }}.</p>
                                <p class="card-text"> Price: {{ product.price }} € </p>
                            </div>
                            <div class="btn-group">
                                <a href="{% url 'store:product_update' pk=product.pk %}" type="button"
                                   class="btn btn-sm ">Update</a>
                            </div>
                            <div class="btn-group">
                                <a href="{% url 'store:product_delete' pk=product.pk %}" type="button"
                                   class="btn btn-sm ">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}