{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}


{% block content %}
    <style>
        body {
            background: linear-gradient(to right top, #EEC290 25%, #F0E7B1 45%, #F0B1EE 55%, #C7A4E4 94%);
        }

        #add-button {
            border-radius: 1rem;
            border-color: #9c46e8;
            color: #878782;
            background-color: #d7a4eb;
            float: right;

        }

        {##x {#}
        {#    border-radius: 1rem;#}
        {#    box-shadow: 0 5px 20px rgba(127, 63, 191, 0.7);#}
        {#    margin-left: 10px;#}
        {##}
        {#}#}

        .container {
            padding: 40px 40px;
            padding-top: 50px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border-radius: 2rem;
        }

        #imag {
            border-radius: 1rem;
            margin-top: -10px;
            margin-bottom: 30px;
            box-shadow: 0 5px 10px rgba(127, 63, 191, 0.7);

        }

        #gril {
            border-radius: 1rem;
            box-shadow: 0 5px 10px rgba(127, 63, 191, 0.7);
            padding: 40px 40px;
            margin: 40px 40px;

        }
    </style>
    <div class="container ">
        <main class="pt-5">
            <div class="row g-5">
                <div id="x" class="col-md-5 col-lg-5 order-md-first ">
                    <img id="imag" class="img-fluid w-100" src={{ product.image.url }}>
                </div>
                <div id="gril" class="col-md-5 ">
                    <h1 class="mb-0 h4">{{ product.name }}</h1>

                    <p>{{ product.description }}...</p>

                    <div  class="border">
                        <div class="col border-bottom">
                            <div class="row p-3">
                                <div class="col-5">Price:</div>
                                <div class="col-5 text-end"><span class="h4 fw-bold">€ {{ product.price }}</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row p-3">
                                <div class="col-7">
                                    <label for="select">Qty</label>
                                    <select id="select">
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        {#                                <div class="row p-3">#}
                        {#                                    <div class="col-6">#}
                        {#                                        <label for="select">Color</label>#}
                        {#                                        <select id="select">#}
                        {#                                            <option value="">White</option>#}
                        {#                                            <option value="">Black</option>#}
                        {#                                            <option value="">Cream</option>#}
                        {#                                            <option value="">Yellow</option>#}
                        {#                                        </select>#}
                        {##}
                        {#                                    </div>#}
                        <div>
                            <form method="post" action="{% url 'store:add_to_cart'  product_id=product.id %}">
                                {% csrf_token %}
                                <div id="add-button" value="{{ product.id }}" class="col-5 text-end">
                                    <button type="submit" class="btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-cart2" viewBox="0 0 16 16">
                                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                        </svg>
                                        Add to cart
                                    </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </main>

    </div>

    <script>
        $(document).on('click', '#add-button', function (e) {
            e.preventDefault();
            $ajax({
                type: 'POST',
                {#url: '{%  url"basket:basket_add" %}',#}
                data: {
                    productid: $('#add-button').val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function (json) {

                },
                error: function (xhr, errmsg, err) {
                }
            })
        })
    </script>
{% endblock %}